// Variables for the breakpoints are in the _variables partial
// Example:
// .foo {
//   width: 100%;
//
//   @include bp(sm) {
//     width: 50%;
//   }
// }
@mixin bp($breakpoint) {
  // Goes to $breakpoints map and gets each $breakpoint value (if it has any)
  @if map-has-key($breakpoints, $breakpoint) {

    // Create media query based on that $breakpoint value
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }

  }
  @else {
    @warn "Breakpoint doesn't exist please check breakpoints map.";
  }
}

// Variables for the icons are in the _variables partial
// This mixin is invoked by the each loop in _icons.scss, it should not be necessary to use it on its own.
@mixin icon-styles($symbol) {
  @extend %icon;
  content: $symbol;
}

// Gradients
@mixin gradient-vert($color1, $color2) {
  background: linear-gradient(to bottom, $color1 0%, $color2 100%);
}

@mixin gradient-hor($color1, $color2) {
  background: linear-gradient(to right, $color1 0%, $color2 100%);
}

// Active states
@mixin is-active {
  &:hover,
  &:active,
  &:focus,
  &.active {
    @content;
  }
}

// Placeholder text
@mixin placeholder {
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
