// Colors variables
// Color variables should start with 'c-'
// It may often be helpful to include the RGB values in a comment next to each
// for ease of interpretation when prototypes use RGB or RGBA
// Examples:
$c-black: #000000; // RGB 0 0 0
$c-white: #ffffff; // RGB 255 255 255
$c-whatever: #ff0000; // RGB 255, 0, 0

// Font-related variables
// Font variables should start with 'font-'
// Replace any/all values as appropriate
$font-family-serif: 'Georgia', serif;
$font-family-sans: 'Helvetica', sans-serif;
$font-family-icons: 'icons';

$font-size-base: 16; // The default font size for your site. This gets used in
// the px-to-em() function used sitewide.
$font-weight-normal: 400;
$font-weight-bold: 700;

// Font weights
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-black: 700;
$font-weight-xblack: 900;

// Breakpoint variables
// Used in bp mixin in _mixins.scss
$breakpoints: (
  sm: px-to-rem(480),
  md: px-to-rem(768),
  lg: px-to-rem(960)
);

// z-index map
// Used in z() function used sitewide.
$z-indexes: (
  top: (),
  middle: (),
  bottom: ()
);
