// Colors variables
// Color variables should start with 'c-'
// It may often be helpful to include the RGB values in a comment next to each
// for ease of interpretation when prototypes use RGB or RGBA
// Examples:
$c-black: #000000; // RGB 0 0 0
$c-white: #ffffff; // RGB 255 255 255
$c-whatever: #ff0000; // RGB 255, 0, 0
// ...etc.

$social-colors: (
  twitter: #4099ff,
  linkedin: #0077b5,
  facebook: #3B5998,
  googleplus: #C63D2D,
  pinterest: #cb2027,
  youtube: #cd201f,
  instagram: #fb3958
);

// Font-related variables
// Font variables should start with 'font-'
// Replace any/all values as appropriate
$font-family-serif: 'Georgia', serif;
$font-family-sans: 'Helvetica', sans-serif;
$font-family-icons: 'icons';

$font-size-base: 16; // The default font size for your site. This gets used in
// the px-to-em() function used sitewide.
$font-weight-normal: 400;
$font-weight-bold: 700;

// Breakpoint variables
// Used in bp mixin in _mixins.scss
$breakpoints: (
  sm: px-to-rem(480),
  md: px-to-rem(768),
  lg: px-to-rem(960)
);

// Z-index variables
// Use with z() function like this:
// z-index: z(under);
$z-layers: (
  under: -1,
  default: 1,
  layer-2: 2,
  layer-3: 3,
  overlay: 900
);

// Examples of commonalities to keep consistent across the site
// $border-radius: 5px;
// $transition: all 0.3s ease;
// $box-shadow: 0px 4px 4px 0px rgba($c-black, 0.25);
