// "Global" styles should include the site defaults for recurring elements such
// as typography, images, forms, etc. Any overrides that need to be done for a
// specific case (for instance, if one form should look different than the
// others) should be done in a "components" partial.

@import 'reset';
@import 'box-sizing';
@import 'icons';
@import 'typography';
@import 'images';
@import 'buttons';
@import 'forms';
@import 'video';
