@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'),
    url('../fonts/icons.woff2') format('woff2'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
}

@function icon-char($filename) {
  $char: "";

  @if $filename == error {
    $char: "\E001";
  }
  @if $filename == info {
    $char: "\E002";
  }
  @if $filename == triangle-down {
    $char: "\E003";
  }
  @if $filename == triangle-up {
    $char: "\E004";
  }

  @return $char;
}

@mixin icon($filename, $insert: before) {
  &:#{$insert} {
    @include icon-styles(icon-char($filename));
  }
}

.icon-error {
  @include icon(error);
}
.icon-info {
  @include icon(info);
}
.icon-triangle-down {
  @include icon(triangle-down);
}
.icon-triangle-up {
  @include icon(triangle-up);
}
