// sass-lint:disable indentation
@font-face {
  font-family: $font-family-icons;
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'),
       url('../fonts/icons.woff2') format('woff2'),
       url('../fonts/icons.woff') format('woff'),
       url('../fonts/icons.ttf') format('truetype'),
       url('../fonts/icons.svg#icons') format('svg');
}

@function icon-char($filename) {
  $char: "";

  @if $filename == facebook {
    $char: "\E001";
  }
  @if $filename == googleplus {
    $char: "\E002";
  }
  @if $filename == instagram {
    $char: "\E003";
  }
  @if $filename == linkedin {
    $char: "\E004";
  }
  @if $filename == pinterest {
    $char: "\E005";
  }
  @if $filename == twitter {
    $char: "\E006";
  }
  @if $filename == youtube {
    $char: "\E007";
  }

  @return $char;
}

@mixin icon($filename, $insert: before) {
  &:#{$insert} {
    @include icon-styles(icon-char($filename));
  }
}

.icon-facebook {
  @include icon(facebook);
}
.icon-googleplus {
  @include icon(googleplus);
}
.icon-instagram {
  @include icon(instagram);
}
.icon-linkedin {
  @include icon(linkedin);
}
.icon-pinterest {
  @include icon(pinterest);
}
.icon-twitter {
  @include icon(twitter);
}
.icon-youtube {
  @include icon(youtube);
}
