// Global typography defaults. If these need to be overridden in a specific
// instance, it should be done in a "components" partial
html {
  // You should ALWAYS have this line, unchanged.
  // The px-to-rem function depends on it.
  font-size: ($font-size-base/16) * 100%;
}

body {
  // Will probably declare fonts, colors, etc. as desired. Examples:
  // font-family: $font-family-sans;
  // font-weight: $font-weight-normal;
  // color: $c-black;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

blockquote {

}

cite {

}

code {

}

dl {

}

dt {

}

dd {

}

b,
strong {
  // font-weight: $font-weight-bold;
}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

p {

}

// Prevents bullet styling applying to menus, etc.
// Scope selectors as needed
.main ul {
  @extend %bullets;
}

.main ol {
  @extend %numbers;
}

sup {
  position: relative;
  font-size: 0.8em;
  top: -0.2em;
}

sub {
  position: relative;
  font-size: 0.8em;
  top: 0.2em;
}

// Undoing the ugly blue glow that defaults when you focus on a link or anything
// with a tabindex. Put focus state back on links below.
*:focus {
  outline: none;
}

a {

}

a:hover,
a:focus {

}

a:focus {

}
