// @TODO – Populate empty blocks.
/* stylelint-disable */
.btn {
  // resets
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}

.btn:focus {
}

.btn:hover,
.btn:focus {
}

.btn:active {
}
/* stylelint-enable */
