// Global form styling should go here.
// Styling for individual forms those should go in their own partials.
// @TODO – Address empty blocks
/* stylelint-disable */
input,
textarea {
  max-width: 100%;
  margin: 0;
  font-size: 16px;
  font-family: $font-family-sans;
  vertical-align: top;
  border: unset;
  appearance: none;

  &::placeholder {
    // Probably a different color
  }
}

input:focus,
textarea:focus {
}

input:active,
textarea:active {
}

input[type='checkbox'] {
  width: auto;
  appearance: checkbox;
}

input[type='radio'] {
  width: auto;
  appearance: radio;
}

select {
}

input[type='submit'],
button {
  //probably start by extending .btn
}

label {
}

// sass-lint:disable no-important
fieldset {
  min-width: 0 !important; // Override for Firefox silliness
}

legend {
}
/* stylelint-enable */
