// Typography
//
// <h1>h1 HTML5 Kitchen Sink</h1>
// <h2>h2 Back in my quaint <a href='#'>garden</a></h2>
// <h3>h3 Jaunty <a href='#'>zinnias</a> vie with flaunting phlox</h3>
// <h4>h4 Five or six big jet planes zoomed quickly by the new tower.</h4>
// <h5>h5 Expect skilled signwriters to use many jazzy, quaint old alphabets effectively.</h5>
// <h6>h6 Pack my box with five dozen liquor jugs.</h6>
//
// Style guide: Global.Typography


html {
  // You should ALWAYS have this line, unchanged.
  // The px-to-rem function depends on it.
  font-size: ($font-size-base/16) * 100%;
}

body {

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1, %h1 {

}

h2, %h2 {

}

h3, %h3 {

}

h4, %h4 {

}

h5, %h5 {

}

h6, %h6 {

}

p, %p {

}


blockquote {

}

cite {

}

code {

}

dl {

}

dt {

}

dd {

}

b,
strong {

}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

sup {
  position: relative;
  font-size: 0.8em;
  top: -0.2em;
}

sub {
  position: relative;
  font-size: 0.8em;
  top: 0.2em;
}


a {

}

a:hover,
a:focus {

}

a:focus {

}
